<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTo</title>
    <!-- 引入外部CSS文件 -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>GPTo</h1>
    <div class="container">
        <div class="left-panel">
            <div class="controls">
                <button id="startButton">开始录音</button>
                <button id="stopButton" disabled>停止录音</button>
            </div>
        </div>
        <div class="right-panel">
            <h2>Log</h2>
            <div id="transcriptBox">...</div>
        </div>
    </div>
    <div class="audio-container">
        <div id="recordingsBox" class="recordingsBox">
            <h2>麦克风采样音频</h2>
            <!-- 录制的音频将显示在这里 -->
            <button class="play-button" id="playRecordingsButton" disabled>播放所有录音</button>
        </div>
        <div id="backendRecordingsBox" class="backendRecordingsBox">
            <h2>LLM音频回复</h2>
            <!-- 后端返回的音频将显示在这里 -->
            <button class="play-button" id="playBackendRecordingsButton" disabled>播放所有回复音频</button>
        </div>
    </div>

    <!-- 引入外部JavaScript文件 -->
    <script src="/static/script.js"></script>
</body>
</html>
